body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    /* padding: 20px;  */
    --background-color-light: #fff;
    --text-color-light: #000;
    --background-color-dark: #333;
    --text-color-dark: #fff;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.info {
    display: inline-block;
}

.stopwatch {
    display:block;
    text-align: center;
    width: 100vw;
}

.time {
    /* position: relative; */
    text-align: left;
    margin-left: 10%;
    font-size: 13vw;
    vertical-align: bottom;
}

.smallTime {
    font-size: 0.1vw;
}

.controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
}

#themeToggle {
    position: absolute; /* Position the button absolutely within the body */
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 3px;
    padding: 3px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.1vw;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
    /* padding: 10px 20px; */
    /* background-color: #333; */
    /* padding: 20px; */
    /* text-align: center; */
}

header img {
    max-width: 10vw;
    max-height: 10vh;
}

header div {
    font-size: 1vw;
}

.laps {
    width: 50;
    /* background-color: #f7f7f7;  */
    border: 1px solid #ccc; 
    max-height: 19vh; 
    overflow-y: auto; 
    padding: 10px;
}

.full-screen {
    position: fixed;
    padding-top:7.3vh;
    top: 0;
    left: 0;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    /* background-color: #000;
    color: #fff;  */
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    z-index: 9999; /* Optional: You can adjust the z-index to control stacking order */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* align-items: center; */
    text-align: center;
    font-size: 48vw;
}

.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}
